<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 2</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
    repellendus placeat laboriosam enim corrupti quas aperiam, recusandae
    similique iusto. Culpa quis ullam soluta praesentium ipsum consectetur
    architecto dolorem magni adipisci!
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 2</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
    repellendus placeat laboriosam enim corrupti quas aperiam, recusandae
    similique iusto. Culpa quis ullam soluta praesentium ipsum consectetur
    architecto dolorem magni adipisci!
  </div>
</div>
